<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
      <!-- This makes Nuget to place the packages at ./Assets/Plugins -->
      <!-- <add key="globalPackagesFolder" value="./NuGetPackages" /> -->
      <add key="repositoryPath" value="./Assets/Plugins" />
  </config>
</configuration>