<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- targetFramework="netstandard2.0" makes nuget to unzip the netstandard2.0 version of the package-->  
  <package id="MathNet.Numerics" version="5.0.0"  targetFramework="netstandard2.0" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0"  targetFramework="netstandard2.0" />
  <package id="NETStandard.Library" version="1.6.1" targetFramework="netstandard2.0" />  
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="netstandard2.0" />
  <package id="LiveChartsCore" version="2.0.0-beta.516" targetFramework="netstandard2.0" />
  <package id="LiveChartsCore.SkiaSharpView" version="2.0.0-beta.516" targetFramework="netstandard2.0" />
  <package id="SkiaSharp" version="2.88.3" targetFramework="netstandard2.0" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.3" targetFramework="netstandard2.0" />  
  <package id="HarfBuzzSharp.NativeAssets.Win32" version="2.8.2.3" targetFramework="netstandard2.0" />  
  <package id="SkiaSharp.HarfBuzz" version="2.88.3" targetFramework="netstandard2.0" />
  <package id="HarfBuzzSharp" version="2.8.2.3" targetFramework="netstandard2.0" />
</packages>